@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Vollkorn:ital,wght@1,800&display=swap');

// custom variables
$primary: red;
$beige: #ffffe7;


// Adding new custom colors

// We import the existing bs code after the variables we defined. so that our custom code is recognized

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// We create a map with the new colors
$custom-theme-colors: (
    "beige": #ffffe7,
    "purple": #C585B3,
);

// Now we merge the existing color map with our custom one so that all of them are available to us

$theme-colors: map-merge($custom-theme-colors , $theme-colors); // The order doesn't matter

// Importing bootstrap at last
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.font-primary {
    font-family: 'Vollkorn', serif;
}

.font-secondary {
    font-family: 'Nunito Sans', sans-serif;
}

// Hero stylings

@import "hero.scss";