@import url("main.css");

.piece-title {
    font-size: 3rem;
}

@media (min-width: 1040px) {
    .piece-title {
        font-size: 4rem;
    }
}

.piece {
    width: 100%;
}

@media (min-width: 650px) {
    .piece {
        width: 30rem;
    }
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    // color: #C585B3;
    text-decoration: underline;
    color: black;
}

.sub-menu {
    font-weight: bolder;
}

.sub-menu:hover {
    a {
        cursor: pointer;
    }
}

.gallery {
    
    a {
        cursor: default;
    }
}